@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
